@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.avatar {
    width: 400px;
    height: 400px;
}

.clock-date {
    font-size: 9rem;
    line-height: 1;
}

.clock-time {
    font-size: 12rem;
    line-height: 1;
}
