@tailwind base;
@tailwind components;
@tailwind utilities;

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.avatar {
    width: 400px;
    height: 400px;
}

.clock-date {
    font-size: 72px;
}

.clock-time {
    font-size: 92px;
}
